
<!-- INSERT PAGE HERE eg "About Us" -->
{% extends "userlayout.html" %}


<!-- metaDescription -->
{% block metaDescription %}{% endblock %}


<!-- metaKeywords -->
{% block metaKeywords %}{% endblock %}

<!-- metaTitle -->
{% block metaTitle %}{% endblock %}



{% block body %}


    <div class="container-fluid">
        
        <div class="row podcasthead">
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container-fluid -->

    <div class="container">
        <div class="row">
            <div class="col-xs-12">


            {{ pagination.info | safe }}
            {{ pagination.links | safe }}

            <h2>The Podcasts</h2>

            {% set skip = page * 10 %}
            {% for x in range(skip - 10, skip) %}
            {% set i = feed.entries[x] %}
            <div class="podcast">
                <h4>{{ i.title }}</h4>
                <p><strong>Uploaded:</strong> {{ i.published }}</p>
                <!--<p>{{ i.summary | safe }}</p>-->
                    <audio controls>
                      <source src="{{ i.enclosures[0]['href'] }}" type="audio/mpeg">
                    Your browser does not support the audio element.
                    </audio>
                    <br><br>
                    <p><a href="{{ i.enclosures[0]['href'] }}" download><button class="btn btn-primary">Download the File  <i class="fa fa-cloud-download" aria-hidden="true"></i></button></a></p>
            </div>
            <br>
            {% endfor %}

            {{ pagination.links }}
        
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

{% endblock %}
