
<!-- INSERT PAGE HERE eg "About Us" -->
{% extends "userlayout.html" %}


<!-- metaDescription -->
{% block metaDescription %}{% endblock %}


<!-- metaKeywords -->
{% block metaKeywords %}{% endblock %}

<!-- metaTitle -->
{% block metaTitle %}{% endblock %}



{% block body %}


    <div class="container-fluid">
    	
        <!-- <div class="row videohead">
        </div> -->
        <!-- /.row -->

    </div>
    <!-- /.container-fluid -->

    <div class="container">
    	<div class="row">
    		<div class="col-md-offset-2 col-md-8">

                <h1>Abbot's Address</h1>
                <p>About once a week Rinsen Sensei addresses the community regarding topics ranging from questions about the practice to acheiving harmony in the sangha. The latest video is below.</p>
                <br><br>

                <div class="videoWrapper">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/O3Iv7W4U_zk?list=PLiG4YWj6aM9Fkp6hqSGlo4KDvPFCp3v_p" frameborder="0" allowfullscreen></iframe> 
                </div>      

    		</div>
    		<!-- /.col-md-offset-2 col-md-8 -->
    	</div>
    	<!-- ./row -->
    </div>
    <!-- ./container -->

{% endblock %}
